<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面没有找到404error!</title>
    <style type="text/css" rel="stylesheet">
        #return a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 32px;
            background-color: #2580B2;
            color: white;
            font-size: 20px;
            letter-spacing: 2px;
            border-radius: 6px;
        }
        #return a:hover {
            opacity: .8;
        }
    </style>
</head>
<body>

<div id="img" style="text-align: center"><img src="/static/img/err404.png" alt=""></div>
<div id="return" style="text-align: center"><a href="/">返回首页</a></div>

</body>
</html>